.Rproj.user
.Rhistory
.RData
.Ruserdata
Personal Examples/
Paper_LQ/
GeMS Notes.txt
GeMS.Rproj
inst/extdata/Cod_1_Production/Cod_Base_CTL/
inst/extdata/Cod_1_Production/Cod_HighProd_CTL/
inst/extdata/Cod_1_Production/Cod_LowProd_CTL/

inst/extdata/Cod_2_Selectivity/Cod_Selectivity_CTL/
inst/extdata/Cod_2_Selectivity/plots/

inst/extdata/Cod_3_Movement/Cod_Movement_CTL/
inst/extdata/Cod_3_Movement/plots/

inst/extdata/Cod_4_MPA/Cod_MPA_CTL/
inst/extdata/Cod_4_MPA/plots/

inst/extdata/Cod_5_AgeStructure/Cod_AgeStructure_CTL/
inst/extdata/Cod_5_AgeStructure/Cod_Age_Mvary_CTL/
inst/extdata/Cod_5_AgeStructure/Cod_Age_Mvary_estM_CTL/

inst/extdata/Cod_1_Production/plots/*
!inst/extdata/Cod_1_Production/plots/ProductionFits_Cod_Base_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionRefPoints_Cod_Base_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionFits_Cod_LowProd_CTLCod_Base_CTLCod_HighProd_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionRefPoints_Cod_LowProd_CTLCod_Base_CTLCod_HighProd_CTL.png

inst/extdata/Cod_5_AgeStructure/plots/*
!inst/extdata/Cod_5_AgeStructure/plots/FitsToDataAgeStruc_Cod_AgeStructure_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/FitsToCatchLengths_Cod_AgeStructure_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/LifeHistory_Cod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/ComparePopulationProcess_Cod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/CompareRefPointsCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/Spbio_true_vs_estCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/Catch_true_vs_estCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png