.Rproj.user
.Rhistory
.RData
.Ruserdata
Personal Examples/
Paper_LQ/
Paper/
GeMS Notes.txt
GeMS.Rproj

inst/extdata/Cod_1_Production/*
!inst/extdata/Cod_1_Production/*.csv
!inst/extdata/Cod_1_Production/*.R

inst/extdata/Cod_2_Selectivity/*
!inst/extdata/Cod_2_Selectivity/*.csv
!inst/extdata/Cod_2_Selectivity/*.R

inst/extdata/Cod_3_Movement/*
!inst/extdata/Cod_3_Movement/*.csv
!inst/extdata/Cod_3_Movement/*.R

inst/extdata/Cod_4_MPA/*
!inst/extdata/Cod_4_MPA/*.csv
!inst/extdata/Cod_4_MPA/*.R

inst/extdata/Cod_5_AgeStructure/*
!inst/extdata/Cod_5_AgeStructure/*.csv
!inst/extdata/Cod_5_AgeStructure/*.R

inst/extdata/Cod_6_HCR_TimeVary/*
!inst/extdata/Cod_6_HCR_TimeVary/*.csv
!inst/extdata/Cod_6_HCR_TimeVary/*.R


# Graphs for use in the Wiki
!inst/extdata/Cod_1_Production/plots/ProductionFits_Cod_Base_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionRefPoints_Cod_Base_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionFits_Cod_LowProd_CTLCod_Base_CTLCod_HighProd_CTL.png
!inst/extdata/Cod_1_Production/plots/ProductionRefPoints_Cod_LowProd_CTLCod_Base_CTLCod_HighProd_CTL.png

!inst/extdata/Cod_5_AgeStructure/plots/FitsToDataAgeStruc_Cod_AgeStructure_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/FitsToCatchLengths_Cod_AgeStructure_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/LifeHistory_Cod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/ComparePopulationProcess_Cod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/CompareRefPointsCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/Spbio_true_vs_estCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png
!inst/extdata/Cod_5_AgeStructure/plots/Catch_true_vs_estCod_AgeStructure_CTLCod_Age_Mvary_CTLCod_Age_Mvary_estM_CTL.png

